In [1]:
import pandas as pd
from IPython.display import display, HTML

from experiment_design.design import RCT
from experiment_design.balance import pvalues_report

def pretty_print(df, message=''):
    if isinstance(df, pd.Series):
        df=df.to_frame()
    print(message)
    return display(HTML(df.to_html()))

In [2]:
# example data 

DATA_PATH = '../tests/test_data/example_covariates.csv'
df = pd.read_csv(DATA_PATH)
df.describe()

                A           B       C
count  100.000000  100.000000  100.00
mean     0.075969   -0.030332    0.45
std      1.057618    0.994407    0.50
min     -2.914937   -2.143484    0.00
25%     -0.636230   -0.710553    0.00
50%      0.108599   -0.015349    0.00
75%      0.777243    0.582555    1.00
max      2.799044    2.928059    1.00

In [3]:
# drawing i.i.d. and shuffled treatment assignements 
# for 1 treatment (1 control) and 2 treatments (1 control)
# assessing balance


for weights in ([.5, .5], [.3, .3, .4]):
    print('\nweights: ', weights )
    rct = RCT(DATA_PATH, weights, seed=0)
    
    iid_assignment = rct.assignment_from_iid
    shuffled_assignment = rct.assignment_from_shuffled
    
    pretty_print(iid_assignment['t'].value_counts(), '\n** iid assignment **')
    pretty_print(
        pvalues_report(df, iid_assignment), 
        'pvalues for treatment'
    )
    #TODO: simplify away get_assignments_as...

    pretty_print(shuffled_assignment['t'].value_counts(), '\n** shuffled assignment **')
    pretty_print(
        pvalues_report(df, shuffled_assignment), 
        'pvalues for treatment'
    )

weights:  [0.5, 0.5]

** iid assignment **

pvalues for treatment

** shuffled assignment **

pvalues for treatment

weights:  [0.3, 0.3, 0.4]

** iid assignment **

pvalues for treatment

** shuffled assignment **

pvalues for treatment